// font

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;600&display=swap');

// Import misc

@import './misc/variables';
@import './misc/normalize';
@import './misc/mixins';

// Import partials

@import './partials/header';
@import './partials/footer';

// Import views

@import './views/home';
@import './views/servicios';
@import './views/galeria';
@import './views/nosotros';
@import './views/contacto';

@media screen and (max-width: 1018px) {
  /* General */
  body > .nosotros,
  body > .contactanos,
  body > .servicios,
  body > .galeria {
    margin-top: 8rem;
  }

  .inicio {
    height: 70vh;
  }

  h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 300;
    margin-bottom: 1.2rem;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 2rem;
  }

  h3,
  .servicios__contenido__summary {
    font-size: 1.8em;
  }

  p {
    font-size: 1.5em;
  }

  .container,
  .contactanos .contacto {
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
  }

  /* Navbar */
  .nav {
    flex-direction: column;
  }

  .nav__item-link {
    margin: 0;
  }

  .nav__list {
    gap: 10px;
  }

  /* Index */
  .index {
    grid-template-areas:
      'header'
      'hero'
      'nosotros'
      'servicios'
      'contacto'
      'footer';
    grid-template-rows: auto auto auto auto auto 4.8rem;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  /* Inicio */

  .index .inicio {
    min-height: 50vh;
  }

  .index .inicio__title {
    font-size: 4em;
  }

  .index .inicio__subtitle {
    font-size: 3em;
  }

  /* Servicios */

  .servicios__contenido__summary {
    margin: 2rem 0;
  }

  .servicios__contenido__item {
    margin: 0;
    padding: 0;
  }

  /* Contacto */

  .contacto__container {
    flex-direction: column;
    gap: 50px;
  }

  .contacto__textarea {
    height: 18rem;
  }

  .contacto__article {
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .contacto__redes,
  .contacto__datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contacto__image {
    display: none;
  }

  .contacto__input,
  .contacto__textarea,
  .contacto__button {
    width: 100%;
  }

  /* Galeria */

  .galeria__contenido__img {
    margin: 1rem;
    width: 180px;
    max-height: 180px;
  }
}

@media screen and (max-width: 480px) {
  /* General */

  h1 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2.8em;
    margin-bottom: 1.8rem;
  }

  h3,
  .servicios__contenido__summary {
    font-size: 2.4em;
  }

  p {
    font-size: 2em;
  }

  /* Navbar */

  .nav__img {
    margin-left: 0;
  }

  .nav__list {
    gap: 8px;
  }

  .nav__item {
    font-size: 1.2em;
  }

  /* Inicio */

  .index .inicio__title {
    font-size: 3em;
  }

  .index .inicio__subtitle {
    font-size: 2.3em;
  }

  /* Servicios */

  .index .servicios__item-text {
    font-size: 2em;
  }

  /* Contacto */

  .contacto__container {
    flex-direction: column;
    gap: 50px;
  }

  .contacto__textarea {
    height: 18rem;
  }

  .contacto__article {
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  .contacto__redes,
  .contacto__datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .contacto__image {
    display: none;
  }

  .contacto__input,
  .contacto__textarea,
  .contacto__button {
    width: 100%;
  }

  /* Galeria */
  .galeria__contenido__img {
    margin: 1rem;
    width: 110px;
    max-height: 110px;
  }

  /* Nosotros */

  .nosotros__contenido__item {
    margin: 0 1rem;
    padding: 2rem 1rem;
  }
}
