.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: $tertiaryColor-opacity !important;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.089);
}

.nav {
  &-logo {
    height: 48px;
    width: 200px;
    margin-left: 1.6rem;
    fill: red;
  }
  &-item {
    font-size: 1.6em;
  }
  &-link {
    font-weight: bold;
    color: $fourthColor !important;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
