.galeria {
  grid-template-areas:
    'header'
    'contenido'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 4.8rem;
  row-gap: 0px;
}

.galeria__title {
  margin-bottom: 4.8rem;
}

.galeria__contenido {
  padding-top: 8rem;
  background-color: var(--primaryColor);
}

.galeria__contenido__container {
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.galeria__contenido__img {
  margin: 1.6rem;
  width: 200px;
  max-height: 200px;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.galeria__contenido__img:hover {
  transform: scale(1.2);
}
