.index {
  @include grid-container;
  grid-template-areas:
    'header header'
    'hero hero'
    'nosotros servicios'
    'contacto contacto'
    'footer footer';
  grid-template-rows: auto auto 80vh auto 4.8rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 0px;

  & .nosotros {
    grid-area: nosotros;
    position: relative;
  }

  & .servicios {
    grid-area: servicios;
    position: relative;
  }

  & .contacto {
    grid-area: contacto;
    background: $primaryColor;
  }

  & .inicio {
    @include flexbox-column;
    grid-area: hero;
    justify-content: center;
    align-items: center;
    background-image: url(../images/BG_hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    &__title {
      font-family: 'League Spartan', sans-serif;
      color: $tertiaryColor;
      margin: 4.8rem 0;
      font-size: 8em;
      font-weight: 600;
    }

    &__subtitle {
      font-size: 5em;
      font-weight: 300;
      color: $secondaryColor;
    }
  }
  // Inicio__Nosotros e Inicio__Servicios
  & .nosotros,
  & .servicios {
    @include flexbox-column;
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 8rem;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: $tertiaryColor;
    color: $primaryColor;

    &__subtitle {
      margin: 0;
      color: $fourthColor;
    }

    &__button {
      @extend .button;
      color: $primaryColor;
      border-color: $fourthColor;

      &:hover {
        -webkit-text-fill-color: #fff;
        box-shadow: 0 4px 15px $fourthColor;
      }
    }
  }

  & .nosotros__text {
    text-align: justify;
    max-width: 49rem;
  }

  & .servicios__items {
    @include flexbox-column;
    justify-content: space-between;
  }

  & .servicios__item-text {
    font-weight: 500;
    text-align: center;
  }
}

// Responsive

@media screen and (max-width: 1018px) {
  .index {
    grid-template-areas:
      'header'
      'hero'
      'nosotros'
      'servicios'
      'contacto'
      'footer';
    grid-template-rows: auto auto auto auto auto 4.8rem;
    grid-template-columns: 1fr;
    min-height: 100vh;

    & .inicio {
      height: 70vh;

      &__title {
        font-size: 4em;
      }

      &__subtitle {
        font-size: 3em;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .index {
    & .inicio {
      min-height: 50vh;
      &__title {
        font-size: 4em;
      }

      &__subtitle {
        font-size: 2.3em;
      }
    }

    & .servicios__item-text {
      font-size: 2em;
    }
    & .nosotros,
    & .servicios {
      padding-top: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}
