.nosotros {
  @include grid-container;
  grid-template-areas:
    'header'
    'contenido'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 4.8rem;
  row-gap: 0px;

  &__contenido {
    @include flexbox-column;
    padding-top: 8rem;
    color: $tertiaryColor;

    &__item {
      margin: 0 3.2rem;
      padding: 3.2rem;
    }

    &__text {
      text-align: center;
    }
  }
}

blockquote {
  color: $fourthColor;

  &__title {
    color: $fourthColor;
  }
}

// Responsive

@media screen and (max-width: 480px) {
  .nosotros__contenido__item {
    margin: 0 1rem;
    padding: 2rem 1rem;
  }
}
