/* Helpers */

@mixin grid-container {
  display: grid;
  width: 100%;
  row-gap: 20px;
  justify-items: center;
}

@mixin flexbox-row {
  display: flex;
}

@mixin flexbox-column {
  display: flex;
  flex-direction: column;
}
