/* Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Map de font-size

$font-s: (
  h1-desktop: 5em,
  h2-desktop: 3.5em,
  h3-desktop: 2.4em,
  p-desktop: 2em,
  h1-tablet: 4em,
  h2-tablet: 2.5em,
  h3-tablet: 2em,
  p-tablet: 1.5em,
  h1-mobile: 3.5em,
  h2-mobile: 2.8em,
  h3-mobile: 2.4em,
  p-mobile: 2em,
);

/* Globales */

html {
  min-height: 100%;
  font-family: 'League Spartan', sans-serif;
  color: $tertiaryColor;
  font-size: 62.5%; /*10px*/
}

body {
  background-color: $primaryColor;
  font-family: inherit;
  & > .grid-container {
    min-height: 100vh;
  }
}

h1 {
  text-align: center;
  font-size: map-get($font-s, h1-desktop);
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1.6rem;
  color: $secondaryColor;
}

h2 {
  color: $secondaryColor;
  font-size: map-get($font-s, h2-desktop);
  margin-bottom: 3.2rem;
  font-weight: bold;
}

h3 {
  font-size: map-get($font-s, h3-desktop);
}

p {
  font-size: map-get($font-s, p-desktop);
}

.container {
  background-color: $primaryColor;
  padding: 4.8rem;
}

.button {
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid $tertiaryColor;
  color: $tertiaryColor;
  padding: 0.5rem 1rem;
  font-size: 2em;
  margin: 1.6rem;
  transition: all 0.2s ease-out;
  animation: float 4s ease-in-out infinite;
  &:hover {
    box-shadow: 0 4px 15px $tertiaryColor;
    color: $tertiaryColor;
  }
}

.gradient {
  background: linear-gradient(0deg, #00a1ab, #020112);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nosotros,
.contactanos,
.servicios,
.galeria,
.index {
  text-align: center;
  justify-content: space-between;
}

//Barra lateral

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $fourthColor;
}

::-webkit-scrollbar-thumb {
  background-color: $tertiaryColor-opacity;
}

/* Grid areas comunes */

.header {
  grid-area: header;
}

.contenido {
  grid-area: contenido;
}

.footer {
  grid-area: footer;
}

// Responsive

@media screen and (max-width: 1018px) {
  .container {
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
  }

  h1 {
    text-align: center;
    font-size: map-get($font-s, h1-tablet);
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
  }

  h2 {
    font-size: map-get($font-s, h2-tablet);
    margin-bottom: 2rem;
  }

  h3 {
    font-size: map-get($font-s, h3-tablet);
  }

  p {
    font-size: map-get($font-s, p-tablet);
  }
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: center;
    font-size: map-get($font-s, h1-mobile);
    font-weight: 300;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: map-get($font-s, h2-mobile);
    margin-bottom: 1.8rem;
  }

  h3 {
    font-size: map-get($font-s, h3-mobile);
  }

  p {
    font-size: map-get($font-s, p-mobile);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
