/* Variables */

$primaryColor: #fcfbfb;
$fifthColor: #be9063;
$secondaryColor: #040c0e;
$fourthColor: #a6944f;
$tertiaryColor: #223d44;
$tertiaryColor-opacity: rgba(58, 66, 68, 0.932);
$primaryColor-opacity: rgba(252, 251, 251, 0.582);

:root {
  --primaryColor: #fcfbfb;
  --fifthColor: #be9063;
  --secondaryColor: #040c0e;
  --fourthColor: #a6944f;
  --tertiaryColor: #223d44;
  --tertiaryColor-opacity: rgba(58, 66, 68, 0.932);
  --primaryColor-opacity: rgba(252, 251, 251, 0.582);
}
